.main {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-top: 35px;
  }
  &__try-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
  }

  &__btn {
    display: block;
    padding: 10px 42px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    max-width: 120px;
    margin: 18px auto 0 auto;
    color: #fff;
    text-decoration: none;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 590px;

    &.second {
      margin-top: 25px;
    }
  }

  &__best {
    background-image: url("../../../assets/images/best.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 101px;
    padding-top: 80px;
    padding-bottom: 110px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__coffee {
    margin-right: 71px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    width: 221px;
    height: 240px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__coffee-img {
    margin: 0 auto;
    object-fit: cover;
  }

  &__coffee-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    text-align: center;
  }

  &__coffee-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    text-align: right;
  }
}
